<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>BEAVER_GREEN</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/1.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>

</head>
    <body style="background-color: #323232;">
        <div class="container-center-horizontal">
            <div class="x1">
                <div class="a1">
                    <div class="aa1"></div>
                    <div class="bb1">
                        <div class="t1">이것은 언제일까요?</div>
                        <div class="t2">이것은 언제일까요?</div>
                        <div class="t3 nanumgothic-extra-bold-green-52px">이것은 언제일까요?</div>
                    </div>
                    <!-- BUTTON (1) -->
                    <div class="button1" id="button1">
                        <div class="button1_background">
                            <div class="b1-bg1-1"></div>
                            <div class="b1-bg1-2"></div>
                            <div class="b1-bg1-3"></div>
                        </div>
                        <div class="button1_text">
                            <img class="b1-t-1" src="img/b1-t-1.png" />
                            <img class="b1-t-2" src="img/b1-t-2.png" />
                            <img class="b1-t-3" src="img/b1-t-3.png" />
                        </div>
                    </div>
                    <!-- BUTTON (2) -->
                    <div class="button2" id="button2">
                        <div class="button2_background">
                            <div class="b2-bg1-1"></div>
                            <div class="b2-bg1-2"></div>
                            <div class="b2-bg1-3"></div>
                         </div>
                        <div class="button2_text">
                            <img class="b2-t-1" src="img/b2-t-1.png" />
                            <img class="b2-t-2" src="img/b2-t-2.png" />
                            <img class="b2-t-3" src="img/b2-t-3.png" />
                        </div>
                    </div>
                    <!-- BUTTON (3) -->
                    <div class="button3" id="button3">
                        <div class="button3_background">
                            <div class="b3-bg1-1"></div>
                            <div class="b3-bg1-2"></div>
                            <div class="b3-bg1-3"></div>
                        </div>
                        <div class="button3_text">
                            <img class="b3-t-1" src="img/b3-t-1.png" />
                            <img class="b3-t-2" src="img/b3-t-2.png" />
                            <img class="b3-t-3" src="img/b3-t-3.png" />
                        </div>
                    </div>
                    <!-- RIGHT -->
                    <!-- <% if (isPlaying == true) { %> -->
                    <div id="pop1">
                        <div class="popup"></div>
                        <div class="popup-text">
                            <img class="p1-t-1" src="img/p1-t-1.png"/>
                            <img class="p1-t-2" src="img/p1-t-2.png"/>
                            <img class="p1-t-3" src="img/p1-t-3.png"/>
                        </div>
                    </div>
                    <!-- <% } %> -->
                    <!-- WRONG -->
                    <!-- <% if( isPlaying == false ) { %> -->
                    <div id="pop2">
                        <div class="popup2"></div>
                        <div class="popup-text2">
                            <img class="p2-t-1" src="img/p2-t-1.png"/>
                            <img class="p2-t-2" src="img/p2-t-2.png"/>
                            <div class="p2-t-3">
                            <div class="p2-t-4 nanumgothic-extra-bold-green-52px">
                                    아닙니다<br />선택하신 시간대로<br />이동하겠습니다
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- <% } %> -->

                </div>
            </div>
        </div>
        <script>

        document.getElementById("pop1").style.display ='none';
        document.getElementById("pop2").style.display ='none';

        const btn1 =document.querySelector(".x1 .button2");
        const obj1 =document.querySelector(".x1 .b2-bg1-1");

        const btn2 =document.querySelector(".x1 .button1");
        const obj2 =document.querySelector(".x1 .b1-bg1-1");

        const btn3 =document.querySelector(".x1 .button3");
        const obj3 =document.querySelector(".x1 .b3-bg1-1");

        btn1.addEventListener("mouseover", function ()
        {
            obj1.style.backgroundColor = "grey";
        });
        btn1.addEventListener("mouseout", function ()
        {
            obj1.style.backgroundColor = "black";
        });

        btn2.addEventListener("mouseover", function ()
        {
            obj2.style.backgroundColor = "grey";
        });
        btn2.addEventListener("mouseout", function ()
        {
            obj2.style.backgroundColor = "black";
        });

        btn3.addEventListener("mouseover", function ()
        {
            obj3.style.backgroundColor = "grey";
        });
        btn3.addEventListener("mouseout", function ()
        {
            obj3.style.backgroundColor = "black";
        });

          var socket = io();
          $('#button1').click(function()
          {
            // present
            socket.emit('choose', 1);
          });
          $('#button2').click(function()
          {
            // future
            socket.emit('choose', 2);
          });
          $('#button3').click(function()
          {
            // past
            socket.emit('choose', 3);
          })

          socket.on('result', function(r){
            if(r == true)
            {
              document.getElementById("pop1").style.display ='block';
              setTimeout(function(){
                  document.getElementById("pop1").style.display ='none';
              }, 2500);
            }
            if (r == false)
            {
              document.getElementById("pop2").style.display ='block';
              setTimeout(function(){
                  document.getElementById("pop2").style.display ='none';
              }, 2500);
            }
          });
        </script>
    </body>
</html>
<!DOCTYPE html>
